:root {
  --slate: #e2e8f0;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*header*/
header {
  display: flex;
  justify-content: space-between;

  padding: 1.5em;
}
.svg-book {
  height: 5em;
  width: 5em;
}
header > div > span {
  font-size: 3em;
  font-weight: bold;
}

header > div {
  display: flex;
  align-items: center;
}
header > div:last-child {
  display: flex;
  align-items: center;
}

svg[class="svg-plus"] {
  height: 3em;
  width: 3em;
}

#btn-add-book {
  white-space: nowrap;
  width: min-content;
  padding: 1em;
  border-radius: 40%;
  border: none;
}
#btn-add-book:hover {
  background-color: red;
}

/*line dividing header and main*/

hr {
  border-bottom: 1px solid black;
  width: 90%;
  margin: auto;
}

/*main*/

main {
}

/*form*/

#form-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

form {
  margin: auto;
  box-shadow: 0 0 10px -1px black;
  border-radius: 0.5em;
  margin-top: 2em;
  padding: 1em;
  background-color: var(--slate);
  max-width: 300px;
  position: relative;
}

form > button {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2.5em;
  border: none;
}
button {
  background-color: var(--slate);
}
form > button > span {
  display: none;
}
form > button:hover svg {
  outline: 2px solid red;
}
form > button:hover span {
  display: block;
  color: red;
  margin: auto;
}
form > div {
  width: 100px;
}

.hidden {
  display: none;
}

/*grid books*/
#grid-library {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em 1.5em;
  justify-content: center;
  margin: 2em 1em;
}
.book-items {
  padding: 1em;
  box-shadow: 0 0 10px -1px black;
  border-radius: 0.5em;
  background-color: var(--slate);
}
